/* Grid del documento (body) */
/* Grid del documento (body) */
/* Grid del documento (body) */
.body-grid{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr;
    grid-template-rows: 450px 250px 500px;
    grid-template-areas: 
    "body-top"
    "body-buscar"
    "body-tabla";
}
.body-top{
    grid-area: body-top;
}
.body-buscar{
    grid-area: body-buscar;
    background-color: rgba(30,33,66,0.8);
}
.body-tabla{
    grid-area: body-tabla;
    background-color: rgba(77,84,170,0.35);
    margin: 0px 10px;
}
/* Grid del (body) */

/* Grid del (body-top) */
/* Grid del (body-top) */
/* Grid del (body-top) */
.body-top-grid{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 2fr 1fr;
}
#div_titulo_listar{
    position: relative;
    margin-left: 10px;
    background-image: url('../img/pencils-clips-colour-pencils-foam-rubber-159627.jpeg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
#div_listar_opciones{
    padding: 0px 0px;
    margin-right: 10px;

    display: grid;
    grid-gap: 0px 30px;
    grid-template-columns: 0.7fr 1fr;
    background-color: #fff;
    border: solid 20px rgba(68, 27, 73, 0.80);

    text-align: center;
    align-items: center;
}
#div_listar_opciones a{
    color: #1E2142;
    font-weight: bold;
    text-align: left;
    font-size: 20px;
    text-decoration: none;
}
#div_listar_opciones span{
    text-align: right;
    font-size: 25px;
    color: rgba(68, 27, 73);
}
/* Grid del (body-top) */


/* Grid de (body-buscar)*/
/* Grid de (body-buscar)*/
/* Grid de (body-buscar)*/
.body-buscar-grid{
    display: grid;
    grid-template-rows: 2fr 1fr 1fr;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-areas: 
    ". titulo ."
    ". barra ."
    ". . .";

    align-items: center;
    text-align: center;
}
.body-buscar-titulo{
    grid-area: titulo;
}
.body-buscar-barra{
    grid-area: barra;
}

.body-buscar-grid div{
    display: flow-root;
    
    padding: 6px;

    background-color: #fff;
    box-shadow: inset 1px 3px 3px rgba(30,33,66,0.4);

    border-radius: 50px;
}
.body-buscar-grid input{
    float: left;
    width: 80%;
    border:0px;
    outline: none;
    margin-left: 20px;
}
.body-buscar-grid span{
    text-align: center;
    color: white;
    margin-right: 20px;
}
#btnBuscar{
    position: relative;
    background-color: rgba(68, 27, 73, 0.5);
    box-shadow: none;
    float: right;
    height: 17.33px;
    border-radius: 50px;
    box-shadow: rgba(0,0,0,0.4) 1px 1px 2px;
}
/* Grid de (body-buscar)*/


/* Grid del (body-tabla) */
/* Grid del (body-tabla) */
/* Grid del (body-tabla) */
table{
    width: 100%;
}

table thead tr th{
    background-color:rgba(68, 27, 73, 0.80);
    color: #fff;
    font-weight: bold;
    padding: 15px;
}

tbody tr, td>a{
    text-align: center;
    color: #1E2142;
}

table tbody tr:hover{
    background: rgba(68, 27, 73, 0.60);
    color: white;
    
}
tbody tr:hover >td .fas{
    color: white;
}

table tbody td{
    padding: 10px;
}
table tbody td:hover{
    background: rgba(68, 27, 73, 0.80);
}

tbody tr td a{
    padding: 0px 10px;
    text-decoration: none;
    cursor: pointer;
    color: rgba(77,84,170)
}
tbody tr td a.fas:hover{
    color: rgba(255, 255, 255, 0.65);
}



/* Grid del (body-tabla) */